<%- include('../partials/header') %>
<h1>All Games</h1>
<% games.forEach((game) => { %>
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><%= game.name %></h5>
      <h6 class="card-subtitle mb-2 text-muted">Hours played: <%= game.hoursPlayed %></h6>
      <p class="card-text">Release Date: <%= game.yearReleased %></p>
      <a href="/games/<%= game.id %>" class="card-link">About: <%= game.name %></a>
      <form action="/games/<%= game.id %>?_method=DELETE" method="POST">
        <button class="btn btn-danger" type="submit">Delete</button>
      </form>
    </div>
  </div>
<% }) %> 

<%- include('../partials/footer') %>
