<%- include('../partials/header') %> 
<h1>All Games</h1>
<% games.forEach((game) => { %>
<h2><%= game.name %></h2>
<h3>Hours Played:</h3>
<span><%= game.hoursPlayed %> hrs</span>
<h3>Released:</h3>
<span><%= game.yearReleased %></span>
<% }) %> 
<%- include('../partials/footer') %>
