<%- include('../partials/header') %> 
<% games.forEach((game) => { %>
<h1><%= game.name %></h1>
<h2>Hours Played:</h2>
<span><%= game.hoursPlayed %></span>
<h2>Released:</h2>
<span><%= game.yearReleased %></span>
<% }) %> 
<%- include('../partials/footer') %>
